body{
    margin: 0px;
}
.first{
    background-image: url("img/backgroundimg (1).png") !important;
    background-repeat: no-repeat;
    width: 100%;
}
.brand{
    font-size: 30px !important;
    color: rgb(28, 28, 139) !important;
    font-weight: 900 !important;
}
.nav-item{
    margin: 15px;
}
.nav-link{
    color:black !important;
    font-size: 18px;
    font-weight: 400px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.mainheading{
    font-weight:bolder !important;
}
.highlighted{
    color:rgb(28, 28, 139);
}
.appbtn{
    border-radius: 15px 15px !important;
    padding: 15px !important;
    background-color:rgb(214,11,60) !important;
    color: white !important;
    font-size: 20px !important;
}
.animate__fadeInUp{
    --animate-duration: 2s;
}
.arrow{
    color:white;
}
.video{
    border: 6px solid rgb(20, 221, 30);
    border-radius: 20px;
}
.secondcard{
 box-shadow: 8px 8px 8px 8px rgb(235, 239, 248);
}
.card1{
    font-size: 40px !important;
    color:rgb(255, 0, 157);
    box-shadow:1px rgb(217, 228, 230) !important;
    line-height: 2 !important;
}
h4{
    color: rgb(36, 68, 128)
}
.access{
    color: blue;
    opacity: 0.7;
    font-size:80px !important;
} 
#access1{
    font-size: 25px;
    font-weight: bold;    
}
#image{
    width: 100%;
    height: auto;
    border: 8px solid rgb(20, 221, 30);
    border-radius: 20px !important;
    box-shadow: 4px 4px 4px 4px rgb(111, 122, 124);
}
.img3{
    box-shadow:5px 5px 5px 5px rgb(216, 235, 235);
}
.img3:hover{
    box-shadow:1px 1px 1px 1px rgba(113, 120, 124, 0.6);
    border:2px solid rgb(255, 0, 157);
}
.head{
    line-height: 3 !important;
    color: rgb(29, 120, 238);
}
.head2{
    line-height: 2 !important;
}
#rounded{
    color:rgb(28, 28, 139);
    font-weight: bold;
}
#work{
    font-weight: bold;
}
.jee{
    box-shadow: 4px 4px 4px 4px rgb(125, 128, 128);
}
.jeebackground{
    background-image: url("img/backgroundimg (4).png");
    background-repeat: no-repeat;
    width: 100%;
}
.neetbackground{
    background-image: url("img/backgroundimg (7).png");
    background-repeat: no-repeat;
    width: 100%;
}
.special:hover{
   border: 2px solid rgb(255, 0, 157) !important;
   transform: scale(1.1);
}
.special{
    transition: transform .2s;
}
.subjects:hover{
  box-shadow: 2px 2px 2px 2px rgb(255, 0, 157);
}